# Exclude virtual environments
venv/

# Exclude shared libraries and binaries
*.dll
*.lib
*.pyd

# Exclude large JSON files
# *.json
# Allow vercel.json to be included
# !vercel.json

# Exclude environment variables
.env
# Exclude cache and temporary files
__pycache__/
*.log

# Exclude Python compiled files
*.pyc
*.pyo

# Exclude large model files
*.bin
*.pt
*.h5venv/
